$active: #f4f7ff;

.active {
  background: $active;
}

.chats-item {
  border-top: 1px solid #eaeaea;
  padding: 12px 0;
  display: flex;
  cursor: pointer;
  transition: .3s linear;
  width: 100%;

  .img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #efefef;
  }

  &:hover {
    background: $active;
  }

}

.text-content {
  max-width: 400px;
  margin-left: 15px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    margin-bottom: 0;
  }
}

.name {
  font-weight: 500;
}

.unread-messages {
  margin-top: 22px;
  border-radius: 50%;
  color: white;
  background: #3369f3;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}

.time {
  font-size: 9px;
  color: #999;
}
