.input_wrapper {
  margin-bottom: 24px;
}

.label {
  font-size: 10px;
  left: 0;
  top: 0;
  color: #999;
  margin-right: auto;
  &:hover {
    .input {
      background-color: rgb(0, 204, 255, 0.05);
    }
  }
}

.input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(0, 204, 255);
  border-radius: 4px;
  padding: 4px 0;
  transition: 0.3s linear;
}

.error {
  color: rgb(255, 38, 0);
  margin-top: 4px;
}
