.default-button {
  background-color: #0495f5;
  color: #fff;
  padding: 8px 48px;
  border-radius: 8px;
  transition: 0.1s linear;

  &:hover,
  &:focus {
    background-color: #0cf;
  }
}

.link-button {
  color: #0cf;
  background: none;
  transition: 0.2s leaner;

  &:hover {
    color: #00afe0;
  }
}

.red-link {
  color: #f00
}
