.dnd {
  input {
    width: 0;
    height: 0;
  }

  cursor: pointer;

  div {
    color: #0cf;
    border-bottom: 1px solid #0cf;
    padding-bottom: 3px;
    display: inline;
  }

  transition: 0.2s linear;

  &:hover {
    div {
      color: #00afe0;
    }
  }
}
