.dnd {
  input {
    width: 0;
    height: 0;
  }
  cursor: pointer;
  div {
    color: rgb(0, 204, 255);
    border-bottom: 1px solid rgb(0, 204, 255);
    padding-bottom: 3px;
    display: inline;
  }
  transition: 0.2s leaner;
  &:hover {
    div {
      color: rgb(0, 175, 224);
    }
  }
}
