$border: 1px solid #eaeaea;

.chat_wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.list_wrapper {
  border-right: 2px solid #eaeaea;
  padding: 20px 10px 0 10px;
  max-width: 600px;
}

.chat_list_header {
  button {
    background-color: transparent;
    display: block;
    margin: 0 15px 24px auto;
    color: #999;
    font-size: 12px;
    display: flex;
    svg {
      margin: 2px 0 0 6px;
    }

    &:hover {
      color: #383838;
      path {
        stroke: #383838;
      }
    }
  }
  input {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-image: url("../../static/images/search.svg");
    background-repeat: no-repeat;
    background-position: 40% center;
    background-color: #efefef;
    outline: none;
    border: none;
    padding: 4px 10px;

    &::placeholder {
      padding-left: 42%;
    }

    &:not(:placeholder-shown) {
      background-image: none;
    }
  }
}

.dialog_wrapper {
  padding: 10px 20px;
}

.dialog_header {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
  padding-bottom: 10px;
  border-bottom: $border;
}

.dialog_avatar {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #efefef;
  margin-right: 15px;
}

.dialog {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: end;
}

.dialog_textarea {
  border-top: $border;
  padding: 10px 0;
  display: flex;
  align-items: center;
  textarea {
    width: 100%;
    resize: none;
    border-radius: 30px;
    background: #efefef;
    max-height: 40px;
    padding: 11px;
  }
  button {
    height: 32px;
  }
}
