.message {
  max-width: 380px;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 10px;
  margin: 15px 0;
  display: inline-block;
  font-weight: 500;
  min-width: 114px;
}

.from-me {
  margin-left: auto;
}

.time {
  text-align: end;
  color: #999;
  font-size: 9px;
}
